# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.env

# Pokedex nested project
Projects/Pokedex/.venv/
Projects/Pokedex/.venv-1/
Projects/Pokedex/**/__pycache__/
Projects/Pokedex/holdover/
Projects/Pokedex/json/

# CrossFit App nested project
Projects/CrossFitApp/.venv/
Projects/CrossFitApp/**/__pycache__/
Projects/CrossFitApp/**/node_modules/
Projects/CrossFitApp/**/back-end/env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
